torch>=2.0.0
torchvision>=0.15.0
transformers>=4.30.0
einops>=0.6.0
torchdiffeq
salesforce-lavis
wandb
yacs
omegaconf
tqdm
numpy
opencv-python
pillow
scipy
scikit-image
decord
timm==0.4.12
fairscale
pycocoevalcap
PyYAML
